body{
  background-color: black;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

h1{
  font-variant: small-caps;
  text-decoration: underline;
  font-size: 50px;
  color: white;
  text-align: center;
  text-shadow: 2px 2px 10px red;
}

a {
  /* font-variant: small-caps; */
  color: #02d5ff;
  text-shadow: 2px 2px 5px black;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}

.butts a{
  color: white;
  font-size: 18px;
  font-variant: normal;
  text-shadow: none;
  font-weight: normal;
  text-decoration: none;
}

.sidebar {
  position: fixed;
  margin-left: 30px;
  width: 225px;
  height: 100%;
  float:left;
}

.sidebar p {
  color: white;
  font-family: monospace;
  font-size: 20px;
}

.container {
    margin-bottom: 20px;
}

.butts {
  background-color: #324b57;
  border: 2px #6a9ea6 solid;
  color: white;
  width: 100%;
  border-radius: 5px;
  padding: 10px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
}

/*links*/
.linkDump {
  background-color: #1b272e;
  border: 2px #6a9ea6 solid;
  display: none;
  margin-top: 10px;
  margin-right: 20px;
  padding: 10px;
  border-radius: 5px;
  /* border: 2px dashed blue; */
}

.tinyText {
  text-align: right;
  margin-right: 15px;
  font-size: 9px;
  color: white;
}

#google{
  background-color: #179c52;
  border-color: green;
}

#youtube{
  background-color: #c4302b;
  border-color: red;
}
/* @media screen (max-height: 768px){

} */
