body{
  background-color: black;
}

h1{
  font-variant: small-caps;
  font-size: 50px;
  color: white;
  text-align: center;
  text-shadow: 2px 2px 10px red;
}

a {
  font-variant: small-caps;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 2px 2px 5px blue;
  color: white;
}

/*SIDEBAR*/
.sidebar {
  position: fixed;
  margin-left: 30px;
  width: 10%;
  height: 100%;
  float:left;
}

.sidebar p {
  color: white;
  font-family: monospace;
  font-size: 20px;
}
